<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myoffice.app.mapper.TaskMapper">

  <resultMap id="BaseResultMap" type="com.myoffice.app.model.domain.Task">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="template" jdbcType="VARCHAR" property="template" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="template_source" jdbcType="VARCHAR" property="templateSource" />
    <result column="template_format" jdbcType="VARCHAR" property="templateFormat" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="owner" jdbcType="INTEGER" property="owner" />
    <result column="assignee" jdbcType="VARCHAR" property="assignee" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <resultMap id="taskResponseMap" extends="BaseResultMap" type="com.myoffice.app.model.response.TaskResponse">
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="assignee_names" jdbcType="VARCHAR" property="assigneeNames" />
  </resultMap>

  <sql id="Base_Column_List">
    task.id,
    task.name,
    task.description,
    task.template,
    task.template_name,
    task.template_source,
    task.template_format,
    task.start_date,
    task.end_date,
    task.owner,
    task.assignee,
    task.status
  </sql>

  <select id="selectTask" resultMap="taskResponseMap">
    SELECT
      <include refid="Base_Column_List"></include>
      ,u1.username as owner_name
      ,GROUP_CONCAT(u2.username) AS assignee_names
    FROM
      task
    JOIN
      user u1
    ON
      task.owner = u1.id
    JOIN
      user u2
    ON
      FIND_IN_SET(u2.id, task.assignee)
    <where>
      ${ew.sqlSegment}
    </where>
  </select>
</mapper>
